h1{
	text-align: center;
	color: purple;
	font-family: sans-serif;
	font-size: 50px;
}
h2{
	color: white;
	background-color: black;
	padding: 20px;
}
pre{
	color: green;
	font-family: script;
	font-size: 20px;
	background-color: cyan;
	padding: 18px;
}
